
.icon{
font-size: 2.5rem;
float: right;
display: flex;
align-items: flex-end;
float: right;
margin-top: 1rem;
color: var(--black);
background: white;
padding: 5px 10px;
border-radius: 25%;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
transition: all .2s;
&:hover{
transform: scaleX(1.2) scaleY(1.2);
color: var(--green);
}
@media only screen and (min-width: 320px) and (max-width: 360px){
width: 2.5rem;
height: 2.5rem;
padding: 5px 10px;
margin-right: 1.5rem;
}
}
      .img{
       width: 300px;
       height: 250px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto;
       object-fit: contain;
       object-position: center;
       @media only screen and (min-width: 320px) and (max-width: 360px){
     width: 250px;
     }
  
@media only screen and (min-width: 576px) and (max-width: 768px){
width: 100%;
}
  &:hover{
    transform: scale(0.9);
    }
     }
  
  
   .btnBox{
 display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}


