
.product_inn{
background-color: #fff;
font-family: var(--font);
border: none;
border-radius: 20px;
box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
color: black;
width: 17rem;
text-align: center;
padding-top: 1rem;
padding-bottom: 1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0 auto;
height: 30rem;
&:hover {
  transform: translateY(-15px);
}
}
.icon{
font-size: 2.5rem;
float: right;
display: flex;
align-items: flex-end;
margin-left: auto;
margin-top: 1rem;
color: var(--black);
background: white;
padding: 5px 10px;
border-radius: 25%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all .2s;
&:hover{
transform: scaleX(1.2) scaleY(1.2);
color: var(--green);
}
}

     .heroimg{
    width: 250px;
    height: 250px;
    object-fit: contain;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
  }
  
  .heroimg:hover{
    transform: scale(0.9);
    }
    
   .btnBox{
 display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}


