.Title {
  color: white;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  border: 2px solid var(--red);
  width: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-transform: uppercase;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 2rem;
    width: 100%;
  }
}

.Container {
  padding: 48px 64px;
  font-family: var(--font);
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    padding: 80px 24px;
  }

  .heading {
    margin-top: 0.25rem;
    color: var(--black);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    @media only screen and (min-width: 320px) and (max-width: 576px) {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }

    span {
      font-size: 1.8rem;
      color: var(--olivegreen);
      font-weight: 600;
      @media only screen and (min-width: 320px) and (max-width: 576px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }

  .ToastContainer {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .centered {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50;
    outline: none;

    .toast {
      @media screen and (max-width: 768px) {
        position: relative;
        border-radius: 10px;
        z-index: 10;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      position: relative;
      border-radius: 10px;
      z-index: 10;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  }
}
