.popularFoodContainer{
    background-color: black;
   padding: 48px 64px;
   font-family: var(--font);
   color: #fff;
     @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 48px 32px;
} 

 .Title{
     font-size: 36px;
    line-height: 44px;
   font-family: var(--font);
   font-weight: 700;
   font-style: normal;
   text-align: center;
   letter-spacing: 0.5px;
   text-align: left;
@media only screen and (min-width: 320px) and (max-width: 768px){
    font-size: 28px;
    line-height: 1.5rem;
    text-align: center;
} 
@media only screen and (min-width: 768px) and (max-width: 900px){
    text-align: center;
} 

   }  
   
  .subHeading{
    padding-top: 2rem;
     font-size: 1.8rem;
    line-height: 2.5rem;
   font-family: var(--font);
   font-weight: 400;
   font-style: normal;
   letter-spacing: 0.5px;
   text-align: left;
  @media only screen and (min-width: 320px) and (max-width: 768px){
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
} 
@media only screen and (min-width: 768px) and (max-width: 900px){
    text-align: center;
} 
   }
 

.column{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
      @media only screen and (min-width: 320px) and (max-width: 900px){
align-items: center;
  }
  
 .Img{
    width: 60%;
    height: 60%;
    object-fit: contain;
display: flex;
justify-content: center;
align-items: center;
  animation: dance 1s linear infinite;
  @media only screen and (min-width: 320px) and  (max-width: 600px){
   width: 50%;
    height: 50%;
 }
 
 @media only screen and (min-width: 600px) and  (max-width: 900px){
   width: 50%;
    height: 50%;
 }
}

@keyframes dance{
    0%{transform: rotate(0)}
   25%{transform: rotate(-45deg)}
    75%{transform: rotate(45deg)}
    100%{transform: rotate(0deg)}
}
}

.box{
  display: flex;
   @media only screen and (min-width: 320px) and  (max-width: 600px){
flex-direction: column;
  }
}
.food_category{
  //background-color: var(--green);
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
  button{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    padding: 7px 20px;
    height: 4rem;
    font-weight: bolder;
    transition: all 0.5s ease;
    &:hover{
      background: var(--green) !important;
      color: white !important;
    transform: translate(5px);
  }
  }
   .foodBtnActive{
  background: white !important;
  color: var(--green) !important;
  border-radius: 10px;
}
  @media only screen and (min-width: 320px) and  (max-width: 600px){
    width: 100%;
overflow: auto;
  }
}
 
  
     
.tranding_product_inn{
  margin-top: 2rem;
}
   .btnBox{
 display: flex;
justify-content: center;
align-items: center;
}

.boxText{
  @media only screen and (min-width: 768px) and (max-width: 1200px){
    padding-top: 2.2rem;
}
}
}