//css for login
.Container{
   margin-top: 6rem;
   padding: 2rem;
   width: 600px;
font-family: var(--font);
background-color: black;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 0.7rem;
border: none;
color: white;
box-shadow: 3px 0px 2px 1px #6c757d;
     @media only screen and (min-width: 320px) and (max-width: 768px){
  width: 100%;
}

.title{
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font);
  @media only screen and (min-width: 320px) and (max-width: 768px){
  font-size: 1.5rem;
} 
}

.color{
  color: var(--green);
}

.subTitle{
  font-family: var(--font);
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  width: 500px;
  text-align: center;
  margin: 1rem 0rem;
    @media only screen and (min-width: 320px) and (max-width: 768px){
  width: 100%;
} 
}

.group{
  display: flex;
  flex-direction: column;
   width: 450px;
margin-bottom: 1rem;
   @media only screen and (min-width: 320px) and (max-width: 480px){
  width: 100%;
} 
}

.subgroup{
  display: flex;
  flex-direction: column;
  width: 100%;
margin-bottom: 1rem;
}


.labelfield{
  color: #fff;
  font-size: 18px;
} 
  
 .errorMsg {
   margin-top: 5px;
    font-size: 13px;
    color:  #ffc107;
    display: block;
  }

.inputField {
      height: 100%;
      outline: none;
      border: 2px solid var(--green);
      border-radius: 5px;
    }

    .inputField:focus {
      border: 2px solid var(--black);
    }

.groupbtn{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
   @media only screen and (min-width: 320px) and (max-width: 480px){
    flex-direction: column; 
} 
  
}
 .signupbtn{
   font-weight: bold;
    width: 200px;
    height: 3rem;
  background-color: transparent;
      border: 2px solid var(--green);
      border-radius: 4px;
      color: var(--green);
      pointer: cursor;
    }

 .signupbtn:hover{
  border: none;
  cursor: pointer;
  color: #fff;
  background: var(--green);
}  

.semigroup{
  margin: 0;
  p{
    margin: 0;
  }
}

  .link{
    border: none;
    background: transparent;
    padding: 0;
    color: var(--green);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    text-decoration: none;
    &:hover{
      font-weight: bold;
      color: #fff;
    }
  }
}

.toaster{
position: fixed;
top: 120px;
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
margin: auto;
}