.CartContainer{
  font-family: var(--font);
  
  th{
    text-align: center;
  }
  
  .cart__img-box{
    width: 80px;
    img{
      width: 100%;
    }
  }
  .cart_item-delete{
    .del_icon{
  cursor: pointer;
  color: red;
  font-weight: bolder !important;
    }
  }
}