.Container{
  padding: 48px 0px;
   margin-top: 1rem;
     @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 64px 32px;
} 

 .favouriteFoodTitle{
   text-transform: uppercase;
     font-size: 3rem;
    line-height: 44px;
font-family: var(--font);
   font-weight: 800;
   font-style: normal;
   text-align: center;
   letter-spacing: 0.5px;
   color: var(--black);
@media only screen and (min-width: 320px) and (max-width: 768px){
    font-size: 28px;
    line-height: 2.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 900px){
    font-size: 2.5rem;
    line-height: 2.5rem;
} 
   }  
   
   .ruler{
     background: var(--green);
     height: 3px;
     width: 200px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: auto;
   }
}

