
.aboutTitle{
     font-size: 20px;
    line-height: 44px;
font-family: var(--font);
   font-weight: 600;
   font-style: normal;
   letter-spacing: 0.5px;
   color: var(--black);
@media only screen and (min-width: 320px) and (max-width: 768px){
    font-size: 17px;
    line-height: 1.5rem;
} 
   }  


.subtext{
  padding-top: 1rem;
font-family: var(--font);
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 30px;
text-align: left;
color: #777;
width: 450px;
@media only screen and (min-width: 320px) and (max-width: 480px){
width: 100%;
font-size: 16px;
} 
}

.img{
  border-radius: 50%;
}

.icon{
  display: inline-block;
  font-size: 1rem;
color: var(--green);
    transition: all .2s;
    &:hover{
transform: scaleX(1.2) scaleY(1.4);
}
}
