.Container{
   padding: 100px 64px;
font-family: var(--font);
   @media only screen and (min-width: 320px) and (max-width: 768px){
  padding: 80px 24px;
} 

.heading{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.card{
border-right: 5px solid var(--green);
border-bottom: 5px solid var(--green);
font-family: var(--font);
border-radius: 3px;

color: black;
width: 18.5rem;
text-align: center;
padding-top: 1rem;
padding-bottom: 1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0 auto;
&:hover{
  box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.5);
  border: none;
}
.icon{
  color: var(--green);
  font-size: 3rem;
}

.headingsmall{
  font-size: 1.7rem;
  padding-top: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.smallTitle{
  font-family: var(--font);
    font-size: 1.7rem;
    line-height: 2.5rem;
   font-weight: 600;
   font-style: normal;
   text-align: center;
   letter-spacing: 0.5px;
   color: var(--black);
   margin-top: 0.7rem;
@media only screen and (min-width: 320px) and (max-width: 768px){
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
} 
}

.text{
  font-family: var(--font);
  font-size: 1.1rem;
    line-height: 1.7rem;
   font-family: var(--font);
   font-weight: 400;
   font-style: normal;
   text-align: center;
   letter-spacing: 0.5px;
      @media only screen and (min-width: 320px) and (max-width: 480px){
    font-size: 1rem;
    line-height: 1.5rem;
} 
}
}

.form{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  
     @media only screen and (min-width: 320px) and (max-width: 768px){
width: 100%;
} 
}

.box{
  border: 1px solid #c0c0c0;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 70%;
  @media only screen and (min-width: 320px) and (max-width: 768px){
width: 100%;
} 
  select{
  padding: 10px 15px;
  background: #e8e8e8;
  border-radius: 5px;
  border: none;
  width: 100%;
  outline: none;
}
}

.labelfield{
  color: #181818;
  font-weight: bold;
}

.ToastContainer{
 position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.centered{
  position: fixed; 
     top: 30%; 
     left: 50%;
     transform: translate(-50%, -50%); 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow-x: hidden;
     overflow-y: auto;
     z-index: 50;
     outline: none;
.toast{
     @media screen and (max-width: 768px)  {
             position: relative;
             border-radius: 10px;
             z-index: 10; 
             box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
             display: flex;
             flex-direction: column;
             margin: auto;
          }
       position: relative;
       border-radius: 10px;
       z-index: 10; 
       box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: auto;
     }
}
 .errorMsg {
    font-size: 13px;
    color:  #dc3545;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-top: 5px;
  }

}