@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

/* Variables */
:root {
  --font: "Crimson Text", serif;
  --white: #fff;
  --border: 2px solid var(--olivegreen);
  --black: #2a4522;
  --olivegreen: rgba(78, 125, 22, 1);
  --red: rgba(176, 202, 100, 1);
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-bg: #fff;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  /* ======= neumorphic ======== */
  --neu-light: rgba(211, 211, 211, 0.2);
  --neu-dark: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen";
}

.app {
  background: var(--color-bg);
  color: var(--black);
  font-family: var(--font);
}

html,
body,
.app {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
}

.m0-3 {
  margin: 0 1.5rem;
}

.p0-3 {
  padding: 3rem 0;
}

//btn styling
.btn {
  display: block;
  border: 1px solid var(--olivegreen);
  border-radius: 5px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: white;
  padding: 10px 24px;
  background: var(--olivegreen);
  width: 150px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  text-decoration: none;
  transition: all 0.3s;
  z-index: 1;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--olivegreen);
    cursor: pointer;
    color: var(--olivegreen);
    background: transparent;
  }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

/////////////////////////////////
//secondary btn
///////////////////////////////
.secondarybtn {
  border: 2px solid var(--red);
  border-radius: 5px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--red);
  padding: 10px 24px;
  background: transparent;
  width: 150px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  text-decoration: none;
  transition: all 0.35s;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.secondarybtn:hover {
  border: 1px solid var(--red);
  cursor: pointer;
  color: white;
  background: var(--red);
  transform: translate(5px, 3px);
}

@media only screen and (min-width: 280px) and (max-width: 1080px) {
  html,
  body,
  .app {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .app::webkit-scrollbar {
    display: none;
  }
}

::webkit-scrollbar {
  background-color: white;
  width: 0.3rem;
}

::webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
}

.nav-link:hover {
  color: var(--olivegreen);
}

.nav-link:active {
  color: var(--olivegreen);
}

.searchContainer {
  padding: 7px 15px;
  border: 1.5px solid var(--olivegreen);
  border-radius: 15px;
  cursor: pointer;
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    width: 100%;
  }
}

.Pagination {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  @media only screen and (min-width: 320px) and (max-width: 567px) {
    flex-direction: column;
  }
}

.Pagination a {
  padding: 5px 13px;
  background: var(--red);
  color: white !important;
  border-radius: calc(50% + 50px);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  &:hover {
    background: transparent;
    border: 1px solid var(--red);
    color: var(--red) !important;
  }
}

#img {
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}
